
.container{
    background: white;
    display: flex;
    height: 100%;
    margin: 20px 0;
}

.containerCharacter{
    background: white;
    height: 100%;
    width: 425px;
    margin: 20px 0;
    padding: 7px;
}

.description{
    margin: 10px 30px;
}
.photo{
    margin: 10px 30px;
}
.photo>img{
    width: 200px;
    height: 310px;
}

.title{
    font-size: 30px;
    font-style: italic;

}

i{
   color: blueviolet;
    font-size: 35px;
}