.input {
    display: block;
    margin: 0 auto;
    font: inherit;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* height: 7rem; */
    min-width: 95%;
}
